@charset "UTF-8";
#wrap {
  background: url(../images/pc/pc_bg_noti_01.svg) no-repeat left top;
}
#faq_container {
  background: url(../images/pc/pc_bg_noti_02.svg) no-repeat right bottom;
}
#must{

  padding-left: 800px;
  font-size: 16px;
  color: #686868;
}
#pnumber2{
  width: 430px;
}
#submit{
  background: #1DB4BD;
  border-radius: 50px;
  margin-left: 200px;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
}


/* faq_container */
.container_mobile {
  display: none;
}
.container_pc {
  width: 1200px;
  margin: 0 auto;
}
.tit_wrap {
  display: flex;
  padding: 34px 0 70px;
}
.tit_wrap h2 {
  font-size: 34px;
  font-weight: 700;
}
.tit_wrap span {
  font-size: 18px;
  color: #686868;
  padding: 30px 0 0 20px;
}

div.main{
 
  width:900px;
  height:500px;
  text-align: left;
  margin: auto;
  padding-top: 8px;
  padding-left: 15px;
}

.informations label{
  
  width:110px;
  display:inline-block;
  font-size: 18px;
  margin: 20px 35px;
  text-align: left;
  
}

.informations input{

  width: 561px;
  height: 50px;
  text-align: left;
  font-size: 18px;
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  margin: 8px 20px;
}

.informations button{

  background: linear-gradient(0deg, #989898, #989898);
  border-radius: 3px;
  width: 110px;
  height: 50px;
  font-size: 18px;
  margin-top: 8px;
  color: #FFFFFF;
  border: none;
}

@media screen and (max-width: 720px) {
  
  #must{
    display: none;
  }
  
  #pnumber2{
    width: 430px;
  }
  
  #submit{
    background: #1DB4BD;
    border-radius: 50px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
  }

  .informations input{

    width: 561px;
    height: 50px;
    text-align: left;
    font-size: 18px;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    margin: auto;
  }
  
  .tit_wrap {
    display: none;
  }
  .tit_wrap h2 {
    display: none;
  }


}






