@charset "UTF-8";
#wrap {
  background: url(../images/pc/pc_bg_noti_01.svg) no-repeat left top;
}
#faq_container {
  background: url(../images/pc/pc_bg_noti_02.svg) no-repeat right bottom;
}

/* faq_container */
.container_mobile {
  display: none;
}
.container_pc {
  width: 1200px;
  margin: 0 auto;
}

@media all and (max-width: 1279px) {
    #header,
    #footer {
      display: none;
    }
    .container_mobile {
      display: block;
    }
    .container_pc {
      display: none;
    }
    .m_title {
      margin: 0 auto;
      text-align: center;
      padding-top: 94px;
    }
    .m_title h2 {
      font-size: 4.16vw;
      font-weight: 500;
    }
    .m_title p {
      font-size: 2.6vw;
      color: #686868;
      padding: 1.4em 0 1em;
    }
    .m_title button {
      background: #1db4bd;
      border-radius: 50px;
      /* width: 22.39vw; */
      padding: 0.7em 1.7em;
      border: none;
      color: #fff;
      font-size: 2.6vw;
    }
    .container_mobile {
      /* width: 100%; */
    }
    .m_inquiry {
      width: 94.7916%;
      margin: 88px auto 0;
      border-top: 2px solid #989898;
    }
    .m_inquiry li {
      border-bottom: 1px solid #d2d2d2;
      /* padding: 30px 23px; */
      padding: 2.14em 0 2.14em 1.64em;
    }
    .m_inquiry li .date {
      font-size: 2.6vw;
      color: #989898;
    }
    .m_inquiry li p {
      font-size: 3.38vw;
      padding: 0.8em 0 0.34em;
    }
    .m_inquiry li .status {
      font-size: 2.6vw;
      color: #1db4bd;
    }
  }