#checkbox{
  border: solid red;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #383838;


}


body{
  margin: 0;
}

content{
  height:80vh;
  border: solid red;
  display: flex;
  flex-flow: column nowrap; 
  align-items: center;
  justify-content: space-between; 
  margin-top: 100px;
}

.nav{
  border: solid red;
  align-self: start;
  position: relative; 
  left: 20vh;
  display:flex;
}

.nav div{
  font-size: 34px;
  color: #383838;
  font-weight: bold;
  font-size: 34px;
  line-height: 43px;
  
}

.nav span{
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #686868;
 }

selection{

  height: 282px;
  width: 800px;
  border-radius: 10px;

  border: solid red;

}

.last{

  border: solid red;
}






 